* {
	box-sizing: border-box;
	margin: 0; padding: 0;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: #222;
}

#canvasPanArea {
	height: 100%;
	width: 100%;
}

#canvasWrapper {
	position: relative;
	display: inline-block;
}

#selectedTool {
	z-index: 999;
	color: #fff;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#colorPickerWrapper {
	z-index: 9999;
	position: absolute;
	bottom: 5px;
	right: 5px;
}

#colorPicker {
	opacity: 0;
	display: block;
	width: 42px;
	height: 32px;
	border: none;
}

#drawingCanvas {
	background-color: #0000001e;
}

#brushPreview {
	z-index: 9;
}

#drawingCanvas, #brushPreview {
	position: absolute;
	top: 0; left: 0;
	image-rendering: pixelated;
}
